.theme-bg {
    background: #7e4c4f;
}
#scrollUp {
    background: #7e4c4f none repeat scroll 0 0;
}
.btn-style {
    background-color: #7e4c4f;
}
.account-curr-lang-wrap ul li ul li:hover > a {
    color: #7e4c4f;
}
.main-menu li:hover>a {
    color: #7e4c4f;
}
.same-style button:hover i,
.same-style>a:hover {
    color: #7e4c4f;
}
.header-cart:hover button i {
    color: #7e4c4f;
}
button.icon-cart span.count-style {
    background-color: #7e4c4f;
}
.shopping-cart-title>h4 a:hover {
    color: #7e4c4f;
}
.shopping-cart-delete>a:hover {
    border: 1px solid #7e4c4f;
    color: #7e4c4f;
}
.shopping-cart-total>h4 span.shop-total {
    color: #7e4c4f;
}
.shopping-cart-btn a:hover {
    background-color: #7e4c4f;
    border: 2px solid #7e4c4f;
}
.slider-btn a {
    background-color: #7e4c4f;
}
.product-action a:hover {
    color: #7e4c4f;
}
.product-content>h4 a:hover {
    color: #7e4c4f;
}
.product-action-wishlist a:hover {
    color: #7e4c4f;
}
.deal-pro-price > span {
    color: #7e4c4f;
}
.blog-content > h4 a:hover {
    color: #7e4c4f;
}
.address-content>p a:hover {
    color: #7e4c4f;
}
.footer-content ul li a:hover {
    color: #7e4c4f;
}
.newsletter-wrapper>p a {
    color: #7e4c4f;
}
.subscribe-form .mc-form .clear {
    background: #7e4c4f none repeat scroll 0 0;
}
.social-icon ul li a:hover {
    color: #7e4c4f;
}
.copyright > p a {
    color: #7e4c4f;
}
.quick-view-rating i.red-star {
    color: #7e4c4f;
}
#exampleModal .close:hover {
    color: #7e4c4f;
}
.modal-content .close:hover {
    color: #7e4c4f;
}
.slider-content-white .slider-btn a {
    color: #7e4c4f;
}
.slider-content-white .slider-btn a:hover {
    background-color: #7e4c4f;
}
.testimonial-white-color .sin-testiImage img {
    border: 1px solid #7e4c4f;
}
.deal-style-white .btn-style {
    color: #7e4c4f;
}
.deal-style-white .btn-style:hover {
    background-color: #7e4c4f;
}
.team-social>a:hover {
    background-color: #7e4c4f;
}
.shop-search form button {
    color: #7e4c4f;
}
.price_filter .ui-slider-range {
    background: #7e4c4f none repeat scroll 0 0;
}
.price_filter .ui-slider-handle.ui-state-default.ui-corner-all {
    border: 1px solid #7e4c4f;
}
.price_slider_amount>button:hover {
    color: #7e4c4f;
}
.shop-list-style ul li a:hover {
    color: #7e4c4f;
}
.shorting-style>label span {
    color: #7e4c4f;
}
.view-mode>li.active a {
    background-color: #7e4c4f;
}
.product-list-content>h4 a:hover {
    color: #7e4c4f;
}
.product-rating i.theme-color {
    color: #7e4c4f;
}
.product-list-action-left a {
    background-color: #7e4c4f;
}
.product-list-action-right a:hover {
    border: 1px solid #7e4c4f;
    background-color: #7e4c4f;
}
.pagination-style ul li a {
    border: 1px solid #7e4c4f;
    color: #7e4c4f;
}
.pagination-style ul li a.active,
.pagination-style ul li a:hover {
    background-color: #7e4c4f;
}
.product-dec-slider.owl-carousel .owl-nav div:hover {
    background-color: #7e4c4f;
}
.description-review-topbar a.active {
    border-bottom: 2px solid #7e4c4f;
    color: #7e4c4f;
}
.rating-form-style.form-submit input {
    background: #7e4c4f none repeat scroll 0 0;
}
.product-quantity .qtybutton:hover,
.table-content table td.product-name a:hover,
.table-content table td.product-remove a:hover {
    color: #7e4c4f;
}
.cart-shiping-update>a:hover,
.cart-shiping-update>button:hover,
.cart-clear>a:hover {
    background-color: #7e4c4f;
}
button.cart-btn-2:hover,
.grand-totall>a:hover {
    background-color: #7e4c4f;
}
.product-wishlist-cart > a {
    background-color: #7e4c4f;
}
h5.panel-title a:hover {
    color: #7e4c4f;
}
h5.panel-title span {
    background-color: #7e4c4f;
}
.checkout-btn:hover,
.billing-btn>button:hover {
    background-color: #7e4c4f;
}
.login-forget>a {
    border-bottom: 1px solid #7e4c4f;
    color: #7e4c4f;
}
.checkout-progress>h4 {
    background-color: #7e4c4f;
}
.checkout-progress {
    border: 1px solid #7e4c4f;
}
.billing-back>a:hover {
    color: #7e4c4f;
}
.billing-back>a i {
    color: #7e4c4f;
}
.billing-back-btn>span a {
    color: #7e4c4f;
}
.edit-address>a:hover {
    color: #7e4c4f;
}
.entries-edit-delete>a:hover,
.entries-edit-delete>a.edit:hover {
    background-color: #7e4c4f;
}
.login-toggle-btn>a:hover {
    color: #7e4c4f;
}
.login-register-tab-list.nav a.active h4,
.login-register-tab-list.nav a h4:hover {
    color: #7e4c4f;
}
.button-box button:hover {
    background-color: #7e4c4f;
}
.contact-info-icon i {
    border: 2px solid #7e4c4f;
    color: #7e4c4f;
}
.contact-info-wrapper:hover .contact-info-icon i {
    border: 2px solid #7e4c4f;
    background-color: #7e4c4f;
}
.contact-info-content p a:hover {
    color: #7e4c4f;
}
.submit.btn-style {
    background-color: #7e4c4f;
}
.recent-post-content>h4 a:hover {
    color: #7e4c4f;
}
.blog-dec-tags ul li a:hover,
.blog-dec-social ul li a:hover {
    color: #7e4c4f;
}
.blog-details-btn a:hover {
    color: #7e4c4f;
}
.blog-reply-wrapper form .text-leave input {
    background-color: #7e4c4f;
}
.main-menu ul li.mega-menu-tree ul > li a:hover {
  color: #7e4c4f;
}
.pagination-style ul li.active a {
  background-color: #7e4c4f;
}
.blog-reply-wrapper .text-leave input {
  background-color: #7e4c4f;
}
.error-button a:hover{
  background: #7e4c4f;
}
.my-account-page.my-address input.button.section-button:hover {
    background-color: #7e4c4f;
}
#quickViewModal .quickview-btn-cart button:hover {
    background: #7e4c4f;
}
a.spr-icon.spr-icon-star {
    color: #7e4c4f;
}
.review-page-comment input.spr-button.spr-button-primary.button.button-primary.btn.btn-primary {
    background: #7e4c4f;
}
.product-rating i {
    color: #7e4c4f;
}